*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}
.best-shoes-page {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #d1d7e0;
	color: #212a31;
	&__start-container {
		text-align: center;
	}
	&__name-section {
		margin: 1em 0;
		font-size: 1.2rem;
	}
	&__short-discription {
		width: 70vw;
		font-size: 0.7rem;
	}
	&__shoes-general-section {
		margin: 3em 1em;
		width: 220px;
		display: grid;
		background-color: #212a31;
		color: #d1d7e0;
		font-size: 0.7rem;
		border-radius: 10px;
		border: 1px solid #a64ac9;
		overflow: hidden;
	}
	&__shoes-type-name {
		padding: 1em;
		font-weight: bold;
		background-color: #a64ac9;
		text-align: center;
	}

	&__general-discription {
		margin-bottom: 1.5em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		text-align: center;
		border-top: 1px solid #a64ac9;
		border-bottom: 1px solid #a64ac9;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__name-shoes-section {
		font-weight: bold;
	}
	&__name-shoes-section,
	.shoes {
		padding: 0 0.5em;
		margin: 1em 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		border: 1px solid #d1d7e0;
	}
	.narrow-view {
		display: block;
	}
	.wider-view {
		display: none;
	}
}
@media (min-width: 376px) {
	.best-shoes-page {
		&__name-section {
			font-size: 1.5rem;
		}
		&__short-discription {
			font-size: 0.85rem;
		}
		&__shoes-general-section {
			width: 350px;
			font-size: 0.85rem;
		}
		&__name-shoes-section,
		.shoes {
			font-size: 0.8rem;
		}
	}
}
@media (min-width: 576px) {
	.best-shoes-page {
		&__name-section {
			font-size: 1.8rem;
		}
		&__shoes-general-section {
			width: 95vw;
		}
		&__name-shoes-section {
			width: 100%;
		}
		&__wide-shoes-section-wider {
			display: grid;
			grid-template-columns: 40% 20% 20% 20%;
			text-align: center;
		}
		&__name-shoes-section-wider {
			padding: 1.5em 0;
			font-weight: bold;
			border: 1px solid #d1d7e0;
		}
		&__general-discription-wider {
			display: flex;
			flex-direction: column;
		}
		.shoes {
			padding: 1em 0.5em;
			margin: 0;
		}
		.narrow-view {
			display: none;
		}
		.wider-view {
			display: block;
		}
	}
}
@media (min-width: 768px) {
	.best-shoes-page {
		&__name-section {
			font-size: 2.2rem;
		}
		&__shoes-general-section {
			width: 80vw;
		}
		&__short-discription {
			width: 50vw;
			font-size: 0.95rem;
		}
		&__shoes-general-section {
			font-size: 0.95rem;
		}
		&__name-shoes-section,
		.shoes {
			font-size: 0.9rem;
		}
	}
}
@media (min-width: 992px) {
	.best-shoes-page {
		&__name-section {
			font-size: 2.5rem;
		}
		&__shoes-general-section {
			width: 65vw;
		}
		&__short-discription {
			width: 40vw;
			font-size: 1.05rem;
		}
		&__shoes-general-section {
			font-size: 1.05rem;
		}
	}
}
