*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #212a31;
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}
.footer {
	height: 100vh;
}
