*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #212a31;
	color: #d1d7e0;
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}
.nav {
	position: relative;
	&__container {
		position: fixed;
		width: 100%;
		height: 5vh;
		background-color: #a64ac9;
		z-index: 1000;
	}
	.hamburger {
		position: absolute;
		top: 50%;
		right: 0;
		margin: 0 0.5em;
		transform: translateY(-50%);
		transition: color 0.3s;
		z-index: 1000;
		cursor: pointer;
		&:hover {
			color: #212a31;
		}
	}
	&__items {
		width: 100%;
		height: 5vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-color: #a64ac9;
		font-size: 0.7rem;
		z-index: 1;
	}
	&__items a {
		text-decoration: none;
		color: #d1d7e0;
	}
	&__item {
		padding: 0.5em;
		display: none;
		list-style: none;
		transition: color 0.3s ease-out;
		cursor: pointer;
		&:hover {
			color: #212a31;
		}
	}
}
.show-items {
	flex-direction: column;
	background-color: #a64ac9;
	height: 35vh;
}
.display-flex {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #a64ac9;
}
@media (min-width: 376px) {
	.nav {
		&__items {
			font-size: 0.8rem;
		}
	}
}
@media (min-width: 576px) {
	.nav {
		.hamburger {
			display: none;
		}
		&__items {
			height: 10vh;
			font-size: 0.9rem;
		}
		&__item {
			display: flex;
		}
	}
}
@media (min-width: 768px) {
	.nav {
		&__items {
			font-size: 1rem;
		}
	}
}
@media (min-width: 992px) {
	.nav {
	}
}
