*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}
.popular-brands {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #d1d7e0;
	color: #212a31;
	&__start-container {
		text-align: center;
	}
	&__name-section {
		margin: 1em 0;
		font-size: 1.2rem;
	}
	&__short-discription {
		width: 70vw;
		font-size: 0.7rem;
	}
	&__brand-general-section {
		margin: 3em 1em;
		width: 220px;
		display: grid;
		background-color: #212a31;
		color: #d1d7e0;
		font-size: 0.7rem;
		border-radius: 10px;
		border: 1px solid #a64ac9;
		overflow: hidden;
	}
	&__brand-type-name {
		padding: 1em;
		font-weight: bold;
		background-color: #a64ac9;
		text-align: center;
	}
	&__brand-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__brand-name-section {
		display: grid;
		height: 100%;
		.name {
			padding: 1em;
			font-weight: bold;
		}
		div {
			padding: 0.5em;
			border: 1px solid #d1d7e0;
		}
	}
	&__general-discription {
		margin-bottom: 1.5em;
		display: grid;
		align-items: center;
		text-align: center;
		border-top: 1px solid #a64ac9;
		border-bottom: 1px solid #a64ac9;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__name-brand-section,
	.brand {
		padding: 0 0.5em;
		margin: 1em 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7rem;
		border: 1px solid #d1d7e0;
	}
}
@media (min-width: 376px) {
	.popular-brands {
		&__name-section {
			font-size: 1.5rem;
		}
		&__short-discription {
			font-size: 0.85rem;
		}
		&__brand-general-section {
			width: 300px;
			font-size: 0.85rem;
		}
		&__name-brand-section,
		.brand {
			font-size: 0.8rem;
		}
	}
}
@media (min-width: 576px) {
	.popular-brands {
		&__name-section {
			font-size: 1.8rem;
		}
		&__brand-section {
			display: grid;
			grid-template-columns: 50% 25% 25%;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		&__brand-general-section {
			width: 65vw;
		}
		&__name-brand-section {
			width: 100%;
		}
	}
}
@media (min-width: 768px) {
	.popular-brands {
		&__name-section {
			font-size: 2.2rem;
		}
		&__short-discription {
			width: 50vw;
			font-size: 0.95rem;
		}
		&__brand-general-section {
			font-size: 0.95rem;
		}
		&__name-brand-section,
		.brand {
			font-size: 0.9rem;
		}
	}
}
@media (min-width: 992px) {
	.popular-brands {
		&__name-section {
			font-size: 2.5rem;
		}
		&__short-discription {
			width: 40vw;
			font-size: 1.05rem;
		}
		&__brand-general-section {
			font-size: 1.05rem;
		}
	}
}
