*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	font-size: 62.5%;
}
.hide-opacity {
	opacity: 0;
}
.display-opacity {
	opacity: 1;
}
.training {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	transition: opacity 0.3s;
	background-color: #212a31;
	color: #d1d7e0;
	&__start-container {
		width: 80vw;
		text-align: center;
	}
	&__name-section {
		margin: 1em;
		font-size: 1.2rem;
	}
	&__short-discription {
		font-size: 0.7rem;
	}
	&__run-general-section {
		margin: 3em 1em;
		font-size: 0.7rem;
	}
	&__run-section {
		margin: 2em 1em;
		text-align: center;
	}
	&__run-name {
		margin: 1em 2em;
		font-weight: bold;
	}
	&__run-dist {
		margin: 1em;
	}
	&__download-container {
		position: fixed;
		top: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__download-window {
		position: relative;
		width: 200px;
		height: 120px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #d1d7e0;
		border-radius: 10px;
		z-index: 10;
		.cancel {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.05em 0.2em;
			margin: 0.75em;
			background-color: #a64ac9;
			color: #d1d7e0;
			border-radius: 5px;
			cursor: pointer;
		}
		input {
			padding: 0.25em 0.5em;
			margin: 1.5em 0 1em;
			width: 120px;
			background-color: #212a31;
			color: #d1d7e0;
			font-size: 0.7rem;
			border-radius: 10px;
			&::placeholder {
				color: #d1d7e0;
			}
		}
		.download {
			padding: 0.25em 1em;
			background-color: #a64ac9;
			color: #d1d7e0;
			font-size: 0.7rem;
			font-weight: bold;
			border-radius: 15px;
			cursor: pointer;
		}
	}
	&__shadow {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.85);
	}
	.download-btn {
		padding: 0.5em 1.5em;
		margin: 1em;
		background-color: #a64ac9;
		color: #d1d7e0;
		font-size: 0.8rem;
		font-weight: bold;
		border-radius: 15px;
		border: none;
		cursor: pointer;
	}
}
.display {
	display: flex;
}
@media (min-width: 376px) {
	.training {
		&__name-section {
			font-size: 1.5rem;
		}
		&__short-discription {
			font-size: 0.85rem;
		}
		&__run-general-section {
			width: 70vw;
			font-size: 0.85rem;
		}
		&__name-run-section,
		.run {
			font-size: 0.8rem;
		}
		&__download-window {
			width: 250px;
			height: 130px;
			font-size: 2rem;
			.cancel {
				padding: 0.1em 0.3em;
			}
			input {
				margin-top: 1.5em;
				width: 150px;
				font-size: 0.8rem;
			}
			.download {
				padding: 0.35em 1em;
				font-size: 0.8rem;
			}
		}
	}
}
@media (min-width: 576px) {
	.training {
		&__name-section {
			font-size: 1.8rem;
		}
		&__run-section {
		}
		&__run-general-section {
			width: 80vw;
		}
		&__run-general-sections {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
		&__name-run-section {
			width: 100%;
		}
		&__download-window {
			width: 270px;
			height: 140px;
			font-size: 2rem;
			.cancel {
				padding: 0.15em 0.4em;
			}
			input {
				margin-top: 1.5em;
				width: 170px;
				font-size: 0.9rem;
			}
			.download {
				padding: 0.4em 1em;
				font-size: 0.9rem;
			}
		}
	}
}
@media (min-width: 768px) {
	.training {
		&__start-container {
			width: 70vw;
		}
		&__name-section {
			font-size: 2.2rem;
		}
		&__short-discription {
			font-size: 0.95rem;
		}
		&__run-general-section {
			font-size: 0.95rem;
		}
		&__download-window {
			width: 320px;
			height: 160px;
			font-size: 2rem;
			input {
				width: 210px;
				margin-top: 1.75em;
				font-size: 0.9rem;
			}
			.download {
				padding: 0.5em 1em;
				font-size: 0.9rem;
			}
		}
		.download-btn {
			padding: 0.75em 1.5em;
			font-size: 1.1rem;
			border-radius: 20px;
		}
	}
}
@media (min-width: 992px) {
	.training {
		&__start-container {
			width: 60vw;
		}
		&__name-section {
			font-size: 2.5rem;
		}
		&__short-discription {
			font-size: 1.05rem;
		}
		&__run-general-section {
			font-size: 1.05rem;
		}
		&__run-section {
			margin: 0 2em;
		}
		&__run-general-sections {
			display: grid;
		}
		.download-btn {
			font-size: 1.2rem;
		}
	}
}
